:root {
    --blanco: #fff;
    --negro: #000;
    --fuente-principal: 'Noto Serif', serif;
}

/*Globales*/
body {
    margin: 0;  
    background-color: var(--blanco);
}

body {
    background-color: #c0bdbd;
    position: relative;
    margin: 20px;
    border-radius: 5px;

}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: rgb(246, 246, 246);
    font-family: var(--fuente-principal);
}

/*Navegacion*/
.navegacion{
    display: flex;
    justify-content: center;
    background-color: #000;
}